<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer formGroup  -->
                <div formGroupName = "customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace'] ">
                                        First Name required.
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        First Name must be atleast 2 characters long
                                    </div>

                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="lastName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']">
                                        Last Name required.
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Last Name must be atleast 2 characters long
                                    </div>

                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors?.['required']">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Email must be email address format
                                    </div>

                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- Shipping Address -->

                <div formGroupName = "shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="shippingAdressCountry?.invalid && (shippingAdressCountry?.dirty || shippingAdressCountry?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressCountry?.errors?.['required']">
                                        Country is required.
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAdressStreet?.invalid && (shippingAdressStreet?.dirty || shippingAdressStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressStreet?.errors?.['required'] || shippingAdressStreet?.errors?.['notOnlyWhiteSpace']">
                                        Street is required.
                                    </div>
                                    <div *ngIf="shippingAdressStreet?.errors?.['minlength']">
                                        Street must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAdressCity?.invalid && (shippingAdressCity?.dirty || shippingAdressCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressCity?.errors?.['required']">
                                        City is required.
                                    </div>
                                    <div *ngIf="shippingAdressCity?.errors?.['minlength']">
                                        City must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                    {{state.name}}
                                </option>
                                </select>
                                <div *ngIf="shippingAdressState?.invalid && (shippingAdressState?.dirty || shippingAdressState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressState?.errors?.['required']">
                                        State is required.
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAdressZipCode?.invalid && (shippingAdressZipCode?.dirty || shippingAdressZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressZipCode?.errors?.['required']|| shippingAdressZipCode?.errors?.['notOnlyWhiteSpace']">
                                        Zip Code is required.
                                    </div>
                                    <div *ngIf="shippingAdressZipCode?.errors?.['minlength']">
                                        Zip Code must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

                <!-- add a check box to copy shipping address to billing address -->

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address Same as Shipping Address.
                </label>
            </div>
                <!-- Billing Address -->

                <div formGroupName = "billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="billingAdressCountry?.invalid && (billingAdressCountry?.dirty || billingAdressCountry?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAdressCountry?.errors?.['required']">
                                        Country is required.
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAdressStreet?.invalid && (billingAdressStreet?.dirty || billingAdressStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAdressStreet?.errors?.['required'] || billingAdressStreet?.errors?.['notOnlyWhiteSpace']">
                                        Street is required.
                                    </div>
                                    <div *ngIf="billingAdressStreet?.errors?.['minlength']">
                                        Street must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAdressCity?.invalid && (billingAdressCity?.dirty || billingAdressCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAdressCity?.errors?.['required']">
                                        City is required.
                                    </div>
                                    <div *ngIf="billingAdressCity?.errors?.['minlength']">
                                        City must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                    {{state.name}}
                                </option>
                                <div *ngIf="billingAdressState?.invalid && (billingAdressState?.dirty || billingAdressState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAdressState?.errors?.['required']">
                                        State is required.
                                    </div>
                                </div>
                            </select>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAdressZipCode?.invalid && (billingAdressZipCode?.dirty || billingAdressZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAdressZipCode?.errors?.['required']|| billingAdressZipCode?.errors?.['notOnlyWhiteSpace']">
                                        Zip Code is required.
                                    </div>

                                    <div *ngIf="billingAdressZipCode?.errors?.['minlength']">
                                        Zip Code must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

                <!-- Credit Card  -->

                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name On Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Exp Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                   <option *ngFor="let month of creditCardMonths">
                                    {{month}}
                                   </option>
                                </select>
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Exp Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                         </div>
                    </div>
                </div>

                <!-- order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity : {{totalQuantity}}</p>
                    <p>Shipping : Free</p>
                    <p>Total Quantity : {{totalPrice| currency:'INR'}}</p>

                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button class="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>

        </div>
    </div>
</div>