<table class="table">
    <thead style="background-color: rgb(165, 161, 161);">
        <tr>
            <th>Product Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Units In Stock</th>
        </tr>
    </thead>


    
    <tbody>
        <tr *ngFor="let tempProducts of products">
            <td class="align-middle">
                <img src="{{tempProducts.imageUrl}}" height="50">
            </td> 
            <td>{{tempProducts.name}}</td> 
            <td> {{tempProducts.unitPrice | currency:"INR"}}</td>
            <td>{{tempProducts.unitsInStock}}</td>
        </tr>
    </tbody>
    
</table>



